/.env
/.venv
/app.py
/azure-cli-2.59.0-x64.msi
/data
/data.csv
/dataset_generated.py
/env
/env.txt
/erd_generator.py
/erd_setup.py
/index.html
/main.py
/preprocess.py
/publicapi.py
/purchased_item_data.csv
/randomdata.py
/requirements.txt
/review_data.csv
/script.js
/test.py
/utils
/__pycache__